//Tipografia
$fuente_principal: "Roboto Condensed", sans-serif;

// Colores
$verde: #0E4200;
$marron: #584A4A;
$rosa: #F09FEC;
$amarillo: #EDF0AD;
$negro: #000000;
$blanco: #FFFFFF;
$gris: #B8B8B8;

//Sizes media query
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

